<div class="row container-fluid">
  <div class="col-md-12">
    {{#each property_listing in model}}
      <li class="row own-properties">
        {{property-detail-table property_listing=property_listing current_user=currentUser}}
      </li>
    {{else}}
      <h3 style="text-align: center;">You don't have any property Listed</h3>
      <h3 style="text-align: center;">{{#link-to 'listings.new'}}Click here{{/link-to}} to add a new listing</h3>
    {{/each}}
  </div>
</div>
