<div class="lousing-alert absolute-center" style="position: absolute;">
</div>

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">
      <p style="text-transform: uppercase;color: #358efb;">Lousing</p>
    </a>
  </div>
  {{#if currentUser}}
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{currentUser.name}}<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          {{#if currentUser.isLandlord}}
            <li>
              {{#link-to 'listings.new'}}
                Create Listing
              {{/link-to}}
            </li>
            <li>
              {{#link-to 'listings'}}
                Your Listing
              {{/link-to}}
            </li>
          {{/if}}
          <li><a href="#">Profile</a></li>
          <li class="divider"></li>
          <li>
            {{#link-to 'users.sign_out'}}
              Sign Out
            {{/link-to}}
          </li>
        </ul>
        </li>
      </ul>
    </div>
  {{else}}
    {{#link-to 'users.sign_in' tagName="button" classNames="btn btn-default navbar-btn pull-right"}}
      Sign in
    {{/link-to}}
  {{/if}}
</div>
</nav>

{{outlet}}
