<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">
      <p style="text-transform: uppercase;color: #358efb;">Lousing</p>
    </a>
  </div>
  {{#if currentUser}}
    {{#link-to 'users.sign_out' tagName="button" classNames="btn btn-default navbar-btn pull-right"}}
      Sign Out
    {{/link-to}}
  {{else}}
    {{#link-to 'users.sign_in' tagName="button" classNames="btn btn-default navbar-btn pull-right"}}
      Sign in
    {{/link-to}}
  {{/if}}
</div>
</nav>

<div class="container-fluid">

  {{#if currentUser}}
  <div class="row" style="height: 100%;">
    <div class="col-md-9 property-detail" style="height: 100%;">
      {{outlet}}
    </div>
    <div class="col-md-3" style="padding: 0px;">
      {{render 'properties_listing' this}}
    </div>
  </div>
  {{else}}
    <div class="jumbotron">
      <p>Welcome to the world of</p>
      <h2>Real Photos, Real Locations</h2>
    </div>
  {{/if}}
</div>
