<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">
      <p style="text-transform: uppercase;color: #358efb;">Lousing</p>
    </a>
  </div>
  {{#if currentUser}}
    {{#link-to 'users.sign_out' tagName="button" classNames="btn btn-default navbar-btn pull-right"}}
      Sign Out
    {{/link-to}}
  {{else}}
    {{#link-to 'users.sign_in' tagName="button" classNames="btn btn-default navbar-btn pull-right"}}
      Sign in
    {{/link-to}}
  {{/if}}
</div>
</nav>

<div class="container-fluid">
  {{outlet}}
</div>
