{{#if currentUser}}
  <h2 style="text-align: center;">Welcome {{currentUser.name}}!!!</h2>
  <h4 style="text-align: center;">Click on a lising on your right, to view its details<h4>
{{else}}
  <div class="jumbotron">
    <p>Welcome to the world of</p>
    <h2>Real Photos, Real Locations</h2>
  </div>
{{/if}}
