<div role="tabpanel">

  <!-- Nav tabs -->
  {{#unless currentUser.is_landlord}}
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="tab active"><a href="#all_properties" aria-controls="all_properties" role="tab" data-toggle="tab">{{length}} Results</a></li>
      <li role="presentation" class="tab"><a href="#shortlisted_properties" aria-controls="shortlisted_properties" role="tab" data-toggle="tab">{{shortlistedProperties.length}} Shortlist</a></li>
    </ul>
  {{/unless}}

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="all_properties">
      <div class="property-listing-index">
        {{#each propertyListing in controller itemController="property_listing"}}
          {{property-listing-card property_listing=propertyListing current_user=currentUser}}
        {{/each}}
      </div>
    </div>
    {{#unless currentUser.is_landlord}}
      <div role="tabpanel" class="tab-pane fade" id="shortlisted_properties">
        <div class="property-listing-index">
          {{render "shortlisted_properties" shortlistedProperties}}
        </div>
      </div>
    {{/unless}}
  </div>

</div>

