  <div class="container-fluid" style="margin-top: -20px;">
    <div class="row" style="height: 100%;">
      <div class="col-md-9 property-detail" style="height: 100%;">

        {{#link-to 'index' classNames="btn-close exit"}}
          X
        {{/link-to}}

        <div class="row" style="padding-left: 15px; padding-top: 30px;">
          {{property-detail-table current_user=currentUser property_listing=this.model}}
        </div>

      </div>
      <div class="col-md-3" style="padding: 0px; height: 100%;">
        {{render 'properties_listing' controllers.application}}
      </div>
    </div>
  </div>
