{{#each propertyListing in model}}
  {{property-listing-card propertyListing=propertyListing hideShortlist=true}}
{{else}}
  <h3 style="text-align: center;">Shotlist by clicking on the</h3>
  <h3 style="text-align: center;"><i class="icon-shortlist"></i></h3>
{{/each}}
