{{#each}}
  {{property-listing-card property_listing=this current_user=currentUser hideShortlist=true}}
{{else}}
  <h3 style="text-align: center;">Shotlist by clicking on the</h3>
  <h3 style="text-align: center;"><i class="icon-shortlist"></i></h3>
{{/each}}
