@import "bootstrap-sprockets";
@import "bootstrap";

body, html, .ember-view, .container-fluid { height: 100%; }

.sign_in_form, .new_listing_form{
  width: 400px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron{
  margin-top: 20px;
}

.property-listing{
  margin: 5px 0px;
  list-style-type: none;
  display: block;
  height: 87px;
}

.property-listing a{
  display: block;
  width: inherit;
  height: inherit;
  padding: 5px;
}

.property-listing a.active{
  background-color: #eee;
}

.property-detail{
  padding-left: 15px;
  box-shadow: -1px 0px 2px rgba(0,0,0,0.2) inset;
  height: 100%;
}

.rupee-symbol:before{
  content: "\20b9";
  font-weight: bold;
}

.thumbnail{
  margin-bottom: 0px;
}

.mgn-10{
  display: block;
  margin: 10px;
  width: inherit;
  height: inherit;
}

.btn-blue{
  color: #ffffff;
  background-color: #358efb;
  border-color: #2183fb;
}

.btn-block{
  width: 100%;
  padding: 0px 20px;
  font-size: 16px;
  line-height: 44px;
  border-radius: 2px;
  height: 44px;
}
