@import "bootstrap-sprockets";
@import "bootstrap";

body, html, div.ember-view, .container-fluid { height: 100%; }

.sign_in_form, .new_listing_form, .absolute-center{
  width: 400px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron{
  margin-top: 20px;
}

.property-listing{
  margin: 0px;
  list-style-type: none;
  display: block;
  height: 87px;
}

.property-listing a{
  display: block;
  width: inherit;
  height: inherit;
  padding: 5px;
}

.property-listing a.active{
  background-color: #e3e3e3 !important;
}

.property-listing a:hover{
  background-color: #f3f3f3;
}

.property-detail{
  padding-left: 15px;
  box-shadow: -1px 0px 2px rgba(0,0,0,0.2) inset;
  height: 100%;
  overflow-y: scroll;
}

.rupee-symbol:before{
  content: "\20b9";
  font-weight: bold;
}

.thumbnail{
  margin-bottom: 0px;
}

.mgn-10{
  display: block;
  margin: 10px;
  width: inherit;
  height: inherit;
}

.btn-blue{
  color: #ffffff;
  background-color: #358efb;
  border-color: #2183fb;
}

.btn-block{
  width: 100%;
  padding: 0px 20px;
  font-size: 16px;
  line-height: 44px;
  border-radius: 2px;
  height: 44px;
}

.lousing-alert, .alert{
  width: 700px !important;
  z-index: 20000;
  top: 8%;
}

.property-listing-index{
  position: absolute;
  left: 0px;
  overflow-x: hidden;
  height: 94%;
  bottom: 0px;
  width: 100%;
  min-height: 90px;
  top: 42px;
}

.icon-shortlist:before {
  content: "\2764";
  font-style: normal;
  margin: 0px 5px;
  font-size: 20px;
}

.icon-top-right{
  font-style: normal;
  position: absolute;
  right: 10px;
  top: 0px;
}

.icon-empty {
  color: #656565;
}

.icon-filled {
  color: #ea325d;
}

.tab:first-of-type{
  border-right:1px solid #e8e8e8;
}

.tab {
  width: 50%;
  a{
    margin-right: 0px !important;
    border: none !important;
    border-radius: 0px !important;
    background-color: #eeeeee;
    text-align: center;
  }
}

.own-properties{
  margin: 5px 0px;
  list-style-type: none;
  overflow-y: scroll;
  a {
    margin-left: 10px;
  }
}

.contact-section{
  position: absolute;
  top: 20px;
  right: 20px;
}

.btn-dark-blue{
  padding: 10px;
  color: #ffffff;
  background-color: #4378dd;
  border-color: #326cda;
}

.btn-dark-blue:hover{
  cursor: pointer;
  color: #ffffff;
  background-color: #326cda;
  text-decoration: none;
}

.btn-close{
  width: 44px;
  display: inline-block;
  font-size: 21px;
  text-align: center;
  background-color: #313a49;
  padding: 0;
  font-size: 10px;
  line-height: 44px;
  border-radius: 0px;
  height: 44px;
  color: #fff;
}

.btn-close:hover{
  color: #fff;
  text-decoration: none;
  box-shadow: none;
}

.exit{
  position: absolute;
  left: 0px;
  font-size: 16px;
  box-shadow: -1px -1px 5px 1px rgba(0,0,0,0.3);
}

.thumbnail{
  padding: 0px;
}

.no-margin{
  margin: 0px !important;
}

.thumbnail{
  .gradient{
    border-radius: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-image: -webkit-gradient(linear, 0 70%, 0 100%, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.70)));
  }
}

.mgn-top-30{
  margin-top: 30px;
}

.shortlisted_users{
  li{
    list-style-type: none;
  }
}
